<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet" >
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" >
    <title>Profile</title>
</head>

</head>
<body>
    <h1> {{user.username}}'s Profile </h1>
        <div class="profile-info">
            <table border="1">
                <tr>
                    <th> Username </th>
                    <th> Email</th>
                </tr>
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </table>
            </div>
        </div>
</body>
</html>