<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDREC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
        <a class="navbar-brand" href="#">MEDREC</a>
        <button class=="navbar-toggler" type="button" data-toggle="collapse" data-target="#myMenu">
    <span class="navbar-toggler-icon">
    </button>
    <div class="collapse navbar-collapse" id="myMenu">
        <ul class="navbar-nav text-center ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            {% if request.user.is_staff%}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {%endif%}
        </ul>
    </div>
    </span>
</div>
    </nav>
    {% block body%}
    {%endblock%}
</body>
</html>